<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            While I only have just over a year of experience as a Software Engineer, that experience was enough to make it my passion. 
			I'm a full-stack developer and hardware enthusiast at heart, but my expertise is in building and deploying large-scale systems utilizing APIs and web services.
        </p>
        <p>
           I love troubleshooting.
           The most difficult problems are usually the ones that are the most rewarding to solve, which is why I take pride in delivering complex systems and seeing those solutions being used in the real world.
           I'm looking for a position where I can take on collaborative
           team leadership responsibilities, gain experience with software
           architecture, and further develop my skills within Software Engineering.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Worked within an Agile-driven development team to present research and proof-of-concept, and subsequently implement Microservice architecture using Kafka and Docker, moving away from larger, more Monolithic applications.
    			</li>
          <li>
            Once fell off my bike down a really steep hill to travel faster that way instead.
          <li>
            Load tested a multitude of applications to troubleshoot problematic code, and analyzed results to deliver successful deployments.
    			<li>
            Developed a single-page web application, implementing an Oracle database with a third-party API to develop an RFID based system to track parts along a manufacturing process.
    			</li>
    			<li>
            Solved a Rubik's cube in 35 seconds, once upon a time...
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
