<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My non-robotic interests:
        </p>
			<ul>
			  <li>
				 <b>Fitness</b>. It's so easy to put our health lower on our list of priorities, especially as a developer - so it's essential for me to stay on top of it. But really, I just love lifting weights around...
			  </li>
			  <li>
				  <b>Really nice cars</b>. I think everyone has a car they like looking at, even <i>a little bit more</i>, than other cars. I love to spend time learning about my own and finding something new to do to it!
			  </li>
			  <li>
				  <b>Hardware</b>. I've always loved computer hardware since I was born, there's just something really cool about it. Pictures of my new build available on request (Really, please ask ☺).
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          <b>AI Cancer Modeling</b>.Using NetLogo, I'm currently investigating the behaviour and characteristics of Cancer and Chemotherapy, testing the hypothesis that the speed of cancer progression is directly linked to treatment effectiveness.
    		</li>
  			<li>
          Currently finishing my Computer Science degree at Teesside University, I guess that's a pretty big project in itself...
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Mentored first year Java students as a PASS Leader.
  			</li>
  			<li>
  			  Adept in Adobe's Photoshop, Dreamweaver, Premiere, and After Effects.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
