<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My non-robotic interests:
        </p>
			<ul>
			  <li>
				 <b>Fitness</b>. It's so easy to put our health lower on our list of priorities, especially as a developer - so it's essential to do. But really, I just love lifting weights around...
			  </li>
			  <li>
				  <b>Really nice cars</b>. I think everyone has a car they like looking at, even <i>a little bit more<i>, than other cars. I love to spend time learning about my own and finding something new to do to it!
			  </li>
			  <li>
				  <b>Hardware</b>. I've always loved computer hardware since I was born, there's just something really cool about it. Pictures of my new build available on request (Really, please ask ☺).
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          OpenGidget is an open-source fork of Raspbian Linux that makes it easier to auto-provision a headless Raspberry PI,
          get it onto your WiFi network, and deploy simple Python and Ruby scripts that run at startup - all without needing to plug in a keyboard/monitor.
    		</li>
  			<li>
          My Medium blog covers my ongoing attempts to instrument and automate everything in my house.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Volunteer at Boys and Girls club (since 2008)
  			</li>
  			<li>
  			  Active member of The Seattle Ruby on Rails Developers Meetup Group.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
